In [1]:
import pandas as pd

In [2]:
df_BABA = pd.read_csv("./data/BABA历史数据.csv")
df_BABA["公司"]="BABA"
df_BIDU = pd.read_csv("./data/BIDU历史数据.csv")
df_BIDU["公司"]="BIDU"
df_JD = pd.read_csv("./data/JD历史数据.csv")
df_JD["公司"]="JD"
df_PDD = pd.read_csv("./data/PDD历史数据.csv")
df_PDD["公司"]="PDD"

In [3]:
df = pd.concat([df_BABA, df_BIDU, df_JD, df_PDD])

In [4]:
df

           日期     收盘     开盘      高      低     交易量     涨跌幅    公司
0   2023-4-28  84.69  84.18  85.08  83.87  18.11M   0.26%  BABA
1   2023-4-27  84.47  83.07  84.64  82.64  20.93M   1.99%  BABA
2   2023-4-26  82.82  85.04  85.22  82.76  24.98M  -0.12%  BABA
3   2023-4-25  82.92  85.32  85.70  82.21  34.25M  -4.57%  BABA
4   2023-4-24  86.89  88.40  88.48  86.04  22.71M  -2.51%  BABA
..        ...    ...    ...    ...    ...     ...     ...   ...
14  2023-4-10  71.31  71.00  72.00  70.18   4.82M  -1.00%   PDD
15   2023-4-6  72.03  72.50  72.60  71.16   5.12M  -0.40%   PDD
16   2023-4-5  72.32  73.14  73.14  71.62   5.24M  -1.20%   PDD
17   2023-4-4  73.20  74.90  74.90  72.79   5.00M  -2.19%   PDD
18   2023-4-3  74.84  74.07  74.89  72.20   7.27M  -1.40%   PDD

[76 rows x 8 columns]

In [6]:
df["公司"].unique()

array(['BABA', 'BIDU', 'JD', 'PDD'], dtype=object)

In [8]:
dict_company_names = {
    "bidu": "百度",
    "baba": "阿里巴巴",
    "jd": "京东",
    "pdd": "拼多多"
}

In [9]:
df["公司中文1"] = df["公司"].str.lower().map(dict_company_names)

In [10]:
df.head()

          日期     收盘     开盘      高      低     交易量     涨跌幅    公司 公司中文1
0  2023-4-28  84.69  84.18  85.08  83.87  18.11M   0.26%  BABA  阿里巴巴
1  2023-4-27  84.47  83.07  84.64  82.64  20.93M   1.99%  BABA  阿里巴巴
2  2023-4-26  82.82  85.04  85.22  82.76  24.98M  -0.12%  BABA  阿里巴巴
3  2023-4-25  82.92  85.32  85.70  82.21  34.25M  -4.57%  BABA  阿里巴巴
4  2023-4-24  86.89  88.40  88.48  86.04  22.71M  -2.51%  BABA  阿里巴巴

In [11]:
df["公司中文2"] = df["公司"].map(lambda x : dict_company_names[x.lower()])

In [12]:
df.head()

          日期     收盘     开盘      高      低     交易量     涨跌幅    公司 公司中文1 公司中文2
0  2023-4-28  84.69  84.18  85.08  83.87  18.11M   0.26%  BABA  阿里巴巴  阿里巴巴
1  2023-4-27  84.47  83.07  84.64  82.64  20.93M   1.99%  BABA  阿里巴巴  阿里巴巴
2  2023-4-26  82.82  85.04  85.22  82.76  24.98M  -0.12%  BABA  阿里巴巴  阿里巴巴
3  2023-4-25  82.92  85.32  85.70  82.21  34.25M  -4.57%  BABA  阿里巴巴  阿里巴巴
4  2023-4-24  86.89  88.40  88.48  86.04  22.71M  -2.51%  BABA  阿里巴巴  阿里巴巴

In [13]:
df["公司中文3"] = df["公司"].apply(lambda x : dict_company_names[x.lower()])

In [14]:
df.head()

,日期,收盘,开盘,高,低,交易量,涨跌幅,公司,公司中文1,公司中文2,公司中文3
0,2023-4-28,84.69,84.18,85.08,83.87,18.11M,0.26%,BABA,阿里巴巴,阿里巴巴,阿里巴巴
1,2023-4-27,84.47,83.07,84.64,82.64,20.93M,1.99%,BABA,阿里巴巴,阿里巴巴,阿里巴巴
2,2023-4-26,82.82,85.04,85.22,82.76,24.98M,-0.12%,BABA,阿里巴巴,阿里巴巴,阿里巴巴
3,2023-4-25,82.92,85.32,85.70,82.21,34.25M,-4.57%,BABA,阿里巴巴,阿里巴巴,阿里巴巴
4,2023-4-24,86.89,88.40,88.48,86.04,22.71M,-2.51%,BABA,阿里巴巴,阿里巴巴,阿里巴巴

In [15]:
df["公司中文4"] = df.apply(lambda x : dict_company_names[x["公司"].lower()], axis=1)

In [16]:
df.head()

,日期,收盘,开盘,高,低,交易量,涨跌幅,公司,公司中文1,公司中文2,公司中文3,公司中文4
0,2023-4-28,84.69,84.18,85.08,83.87,18.11M,0.26%,BABA,阿里巴巴,阿里巴巴,阿里巴巴,阿里巴巴
1,2023-4-27,84.47,83.07,84.64,82.64,20.93M,1.99%,BABA,阿里巴巴,阿里巴巴,阿里巴巴,阿里巴巴
2,2023-4-26,82.82,85.04,85.22,82.76,24.98M,-0.12%,BABA,阿里巴巴,阿里巴巴,阿里巴巴,阿里巴巴
3,2023-4-25,82.92,85.32,85.70,82.21,34.25M,-4.57%,BABA,阿里巴巴,阿里巴巴,阿里巴巴,阿里巴巴
4,2023-4-24,86.89,88.40,88.48,86.04,22.71M,-2.51%,BABA,阿里巴巴,阿里巴巴,阿里巴巴,阿里巴巴

In [20]:
sub_df = df[["收盘", "开盘", "高", "低"]]

In [21]:
sub_df.head()

      收盘     开盘      高      低
0  84.69  84.18  85.08  83.87
1  84.47  83.07  84.64  82.64
2  82.82  85.04  85.22  82.76
3  82.92  85.32  85.70  82.21
4  86.89  88.40  88.48  86.04

In [22]:
sub_df.applymap(lambda x : int(x))

    收盘  开盘   高   低
0   84  84  85  83
1   84  83  84  82
2   82  85  85  82
3   82  85  85  82
4   86  88  88  86
..  ..  ..  ..  ..
14  71  71  72  70
15  72  72  72  71
16  72  73  73  71
17  73  74  74  72
18  74  74  74  72

[76 rows x 4 columns]

In [23]:
df.loc[:, ["收盘", "开盘", "高", "低"]] = sub_df.applymap(lambda x : int(x))

In [24]:
df.head()

          日期  收盘  开盘   高   低     交易量     涨跌幅    公司 公司中文1 公司中文2 公司中文3 公司中文4
0  2023-4-28  84  84  85  83  18.11M   0.26%  BABA  阿里巴巴  阿里巴巴  阿里巴巴  阿里巴巴
1  2023-4-27  84  83  84  82  20.93M   1.99%  BABA  阿里巴巴  阿里巴巴  阿里巴巴  阿里巴巴
2  2023-4-26  82  85  85  82  24.98M  -0.12%  BABA  阿里巴巴  阿里巴巴  阿里巴巴  阿里巴巴
3  2023-4-25  82  85  85  82  34.25M  -4.57%  BABA  阿里巴巴  阿里巴巴  阿里巴巴  阿里巴巴
4  2023-4-24  86  88  88  86  22.71M  -2.51%  BABA  阿里巴巴  阿里巴巴  阿里巴巴  阿里巴巴

In [26]:
df[["收盘", "开盘", "高", "低"]] = sub_df.applymap(lambda x : int(x))

In [27]:
df.head()

          日期  收盘  开盘   高   低     交易量     涨跌幅    公司 公司中文1 公司中文2 公司中文3 公司中文4
0  2023-4-28  84  84  85  83  18.11M   0.26%  BABA  阿里巴巴  阿里巴巴  阿里巴巴  阿里巴巴
1  2023-4-27  84  83  84  82  20.93M   1.99%  BABA  阿里巴巴  阿里巴巴  阿里巴巴  阿里巴巴
2  2023-4-26  82  85  85  82  24.98M  -0.12%  BABA  阿里巴巴  阿里巴巴  阿里巴巴  阿里巴巴
3  2023-4-25  82  85  85  82  34.25M  -4.57%  BABA  阿里巴巴  阿里巴巴  阿里巴巴  阿里巴巴
4  2023-4-24  86  88  88  86  22.71M  -2.51%  BABA  阿里巴巴  阿里巴巴  阿里巴巴  阿里巴巴